{% set form = hookable_metadata.context.form %}

<div class="tab-pane {% if hookable_metadata.configuration.active|default(false) %}show active{% endif %}" id="popup-content" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        <div class="card-header">
            <h2 class="card-title">{{ 'popup.ui.tab_content'|trans }}</h2>
        </div>
        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.title) }}
            {{ form_row(form.body) }}
            {{ form_row(form.ctaLabel) }}
            {{ form_row(form.ctaUrl) }}
            {{ form_row(form.discountCode) }}
            {{ form_row(form.emailCaptureEnabled) }}
        </div>
    </div>
</div>
