{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% block title %}{{ 'popup.ui.new_campaign'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    {% include '@SyliusAdmin/shared/crud/common/sidebar.html.twig' %}

    <div class="page-wrapper">
        {% include '@SyliusAdmin/shared/crud/common/navbar.html.twig' %}

        {% include '@SyliusAdmin/shared/crud/common/content/flashes.html.twig' %}

        <div class="page-header" data-sticky-header>
            <div class="container-xl">
                <ol class="breadcrumb" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a href="{{ path('sylius_admin_dashboard') }}">{{ 'sylius.ui.dashboard'|trans }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('popup_admin_campaign_index') }}">{{ 'popup.ui.popup_campaigns'|trans }}</a></li>
                    <li class="breadcrumb-item active">{{ 'sylius.ui.new'|trans }}</li>
                </ol>
                <div class="row mt-3 row-gap-2">
                    <div class="col-12 col-md">
                        <h1 class="page-title">{{ 'popup.ui.new_campaign'|trans }}</h1>
                    </div>
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('popup_admin_campaign_index') }}" class="btn btn">{{ 'sylius.ui.back'|trans }}</a>
                            <button type="submit" form="popup_campaign_form" class="btn btn-primary">{{ 'sylius.ui.create'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                {% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'popup_campaign_form'}}) }}

                <div class="row">
                    {% hook 'sylius_popup.campaign.form' with { form: form } %}
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {% include '@SyliusAdmin/shared/crud/common/content/footer.html.twig' %}
    </div>
{% endblock %}
